<link rel="stylesheet" href="/SugarCRM/custom/clients/base/fields/images/images_field.css">
<div id="images-details-container">
    {{#each images_array}}
        <div id="{{name}}" class="span4 record-cell data-image-container">
            <div id="image-container">
                    <img src="{{description}}" class="images-styles">
            </div>
        </div>
    {{/each}}
</div>