<style>
    #map {
        height: 250px;
        width: 50%;
        margin-left: 10px;
    }
</style>

<div id="address-custom-container-details" class="span6">
    <div class="record-label" data-name="state">
        Estado
    </div>
    <input type="text" id="txtStates" name="states" disabled placeholder="Seleccione un estado"/>
    <div class="record-label" data-name="municipality">
        Municipio/Delegación
    </div>
    <input type="text" id="txtMunicipality" name="municipalities" disabled placeholder="Seleccione una delegación o municipio"/>
    <div class="record-label" data-name="colony">
        Colonia
    </div>
    <input type="text" id="txtColony" name="colonies" class="prueba" disabled placeholder="Sin colonia"/>
</div>
<div id="map" class="span6" style="pointer-events:none;">
</div>
